[run]
omit =
    */migrations/*
    */tests.py
    */test_*.py
    */management/commands/seed_data.py
    manage.py
    */apps.py
    */asgi.py
    */wsgi.py
    confectionery/settings.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
